node_modules
vendor
.git
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build
public/hot
.phpunit.cache
npm-debug.log
yarn-error.log
bundle-visualizer.html
